.modal{
    width: 100vw;
    height:100vh;
    background-color: rgba($black, 0);
    position: absolute;
    top: 0;
    left: -100%;
    @include flexy($just:center, $ali: center);
    transition: transform, background-color;
    transition-duration: $transition-duration;
    transition-timing-function: ease-out;

    &:focus{
        transform: translate(100%, 0);
        background-color: rgba($black, .5);
    }

    &__container{
        position: relative;
        background-color: white;
        padding: 40px;
        border-radius: $border-radius-corners;
        @include border($grey);

        &__info{
            @include flexy($dir: column, $just: center, $ali: center);
        }

        &__close {
            position: absolute;
            right: $gutter;
            top: $gutter;
            right: $gutter;
            background-color: $white;
            border:none;
            cursor: pointer;
        }
        
    }

    & h2,
    & p,
    & hr {
        margin-top: $gutter;
    }
}

.previous,
.next{
    fill: $white;
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    top:50%;
    cursor: pointer;
    transition: fill $transition-duration ease-in-out;
    :hover{
        fill: $grey;
    }
}

.previous {
    left: -100px;
}

.next{
    right: -100px;
    transform: rotate(180deg);
}